<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="logfile" fileName="${basedir}/logs/alllogs-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="errorfile" fileName="${basedir}/logs/errorlogs-${shortdate}.log"
		        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Warning" writeTo="errorfile" />

	</rules>
</nlog>